body {
  margin: 0;
  padding: 0; }

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0; }
  header #emprendimiento {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: gray;
    justify-content: flex-start;
    justify-items: baseline;
    margin-top: 0.5em;
    margin-left: 1em; }
  header .menu ul {
    display: flex; }
  header .menu li {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: gray;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    justify-content: space-evenly;
    padding-left: 0;
    list-style: none;
    align-items: center; }
  header .menu a {
    color: gray;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    outline: gray;
    width: 100%; }
  header .menu a:hover {
    color: dodgerblue;
    font-size: 14px;
    font-family: 'Roboto', sans-serif; }
  header .menu2 ul {
    display: flex; }
  header .menu2 li {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: gray;
    justify-content: flex-end;
    padding-right: 2em; }
  header .menu2 .iconos {
    display: flex; }
  header .menu2 img {
    margin-right: 0.5em;
    width: 16px;
    opacity: 50%; }

/* BODY */
.imagenes {
  display: flex;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  justify-content: space-around; }
  .imagenes img {
    margin-top: 6em;
    width: 15%;
    height: auto;
    margin-left: 0.8em; }

.explicacion .miscelanea {
  color: dodgerblue;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 0em;
  margin-left: 1.2em;
  padding-top: 4em; }

.explicacion h1 {
  color: dodgerblue;
  font-size: 36px;
  font-family: Helvetica, sans-serif;
  margin-left: 0.4em;
  margin-top: 0em;
  padding-top: 0em;
  margin-bottom: 0.5em; }

.explicacion p {
  color: darkgrey;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
  width: 70%;
  line-height: 20px; }

.explicacion a {
  color: darkgrey; }

.explicacion a:hover {
  color: dodgerblue; }

.presentacion h2 {
  color: dodgerblue;
  font-size: 20px;
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  margin-left: 0.8em;
  margin-top: 2em;
  padding-top: 0em;
  margin-bottom: 0.5em; }

.presentacion p {
  color: darkgrey;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 5em;
  width: 70%;
  line-height: 20px; }

/* FOOTER */
footer {
  width: 100%;
  margin: 1;
  margin-bottom: 1.5em;
  padding: 0;
  margin-top: 2em; }
  footer ul {
    display: flex;
    flex-direction: row;
    color: darkgray;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    width: 100vh;
    padding-left: 1em;
    align-items: baseline; }
  footer .redes {
    display: flex;
    margin-left: 1em;
    margin-right: 1em; }
  footer li {
    list-style: none; }
  footer img {
    width: 1.5em;
    height: auto;
    opacity: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em; }
